[Unit]
Description=AIO startup service

[Service]
Type=oneshot
ExecStart=liquidctl initialize all
ExecStart=liquidctl set fan speed  30 30  45 100

[Install]
WantedBy=default.target
